:root {
    --main-font:Roboto, sans-serif;
    --secondary-font:Raleway, sans-serif;
    --main-text-cl: #757575;
    --secondary-text-cl: #212121;
    --complementary-text-cl:#FFFFFF;
    --accent-cl:#2196F3;
    --icon-cl: #AFB1B8;
    --main-bg: #FFF;
    --secondary-bg:#2F303A;
    --accent-bg:#F5F4FA;
    --hero-bg:#C4C4C4;
    --button-bg:#2196F3;
}
body {
font-family: var(--main-font);
font-style: normal;
color: var(--main-text-cl);
background-color: var(--main-bg);
}
.container {
width: 1200px;
padding: 0 15px;
margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,ul,p {
margin: 0;
padding: 0;
}
img {
display: block;
}
.header {
border-bottom: 1px solid #ECECEC;
}
.header-container{
display: flex;
align-items: center;
}
.logo {
font-family: var(--secondary-font);
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
color: var(--accent-cl);
text-decoration: none;
margin-right: 93px; 
}
.txt-black {
color: var(--secondary-text-cl);
}
.navigation-list {
display: flex;
align-items: center;
}
.navigation-item {
display: block;
margin-right: 50px;
}
.navigation-item:last-child {
margin-right: 0;
}
.list {
list-style: none;
}
.list .link {
color: var(--secondary-text-cl);
font-family: inherit;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;  
text-decoration: none;
}
.link-nav {
display: block;
}
.list .link:hover,
.list .link:focus {
color: var(--accent-cl);
}
.navigation-group {
display: flex;
align-items: center;
margin-left: auto;
}
.navigation-list {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
}
.navigation-group-item {
display: flex; 
align-items: center;
margin-right: 0;
margin-left: 40px; 
} 
.navigation-group-item:first-child {
margin-left: 0; 
}    
.navigation-icon {
margin-right: 10px;
fill: currentColor;
}
.list .link-tel {
display: flex;
align-items: center;
padding-top: 32px;
padding-bottom: 32px;
color: var(--main-text-cl);
font-family: inherit;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;  
text-decoration: none;
}
.link-tel:hover,
.link-tel:focus {
color: var(--accent-cl);
}
.list .link-current {
color: var(--accent-cl);
font-family: inherit;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.hero-container {
max-width: 1600px;
height: 600px;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/overlay.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-color: var(--hero-bg);
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
margin-left: auto;
margin-right: auto;
} 
.hero-title {
width: 696px;
color: var(--complementary-text-cl);
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-align: center;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}
.btn-hero {
display: inline-block;
box-sizing: content-box;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 200px;
border: 1px solid var(--button-bg);
border-radius: 4px;
padding-top: 10px;
padding-right: 24px;
padding-bottom: 10px;
padding-left: 24px;
color: var(--complementary-text-cl);
background-color: var(--button-bg);
font-family: inherit;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.88; /* 187.5% */    
letter-spacing: 0.96px;
cursor: pointer;
}
.peculiarities-section {
padding-top: 94px;
padding-bottom: 94px;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.title {
color: var(--secondary-text-cl);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;   
}
.peculiarities {
display:flex;
flex-direction: row;
}
.peculiarities>.peculiarities-item {
width: 270px;
margin-right: 30px;
}
.peculiarities-item:last-child {
margin-right: 0;
}
.peculiarities-box {
display:flex;
justify-content: center;
align-items: center;
width: 270px;
height: 120px;
background-color: var(--accent-bg);
border-radius: 4px;
margin-bottom: 30px;
}
.peculiarities-item>.subtitle {
margin-bottom: 10px;
color: var(--secondary-text-cl);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.peculiarities-item>.text {
font-size: 14px;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.work-section {
padding-bottom: 94px;
}
.title-work {
margin-bottom: 50px;
}
.list-work {
display: flex;
flex-wrap: wrap;
}
.list-work>.work-item {
flex-basis: calc(100%/3 - 30px);
margin-right: 30px;
}
.work-item:last-child {
margin-right: 0;
}
.our-team-section {
padding-top: 94px;
padding-bottom: 94px;
background-color: var(--accent-bg);
}
.title-our-team {
margin-bottom: 50px;
}
.list-our-team {
display: flex;
flex-wrap: wrap;
}
.list-our-team>.our-team-item {
margin-right: 30px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
background-color: var(--main-bg);
}
.our-team-item:last-child {
margin-right: 0;
}
.box-our-team {
padding-top: 30px;
padding-bottom: 30px;
}
.subtitle-img {
margin-bottom: 10px;
color: var(--secondary-text-cl);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.text-img {
text-align: center;
font-size: 16px;
line-height: normal;
letter-spacing: 0.48px;  
margin-bottom: 16px;  
}
.social-list {
display: flex;
justify-content: center;
align-items: center;
}
.social-link {
display: flex;
justify-content: center;
align-items: center; 
width: 44px;
height: 44px;
border-radius: 50%;
}
.social-item:not(:last-child) {
margin-right: 10px;
}
.social-icon {
fill: var(--icon-cl);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
background-color: var(--accent-cl);
fill: var(--complementary-text-cl)
}
.social-link:hover,
.social-link:focus {
background-color: var(--accent-cl)
}
.clients {
padding-top: 94px;
padding-bottom: 94px;
}
.list-clients {
display: flex;
justify-content: center;
align-items: center;
}
.title-clients {
margin-bottom: 50px;
}
.clients-item:not(:last-child) {
margin-right: 30px;
}
.clients-link {
display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 92px;
border: 1px solid var(--icon-cl);
border-radius: 4px;
}
.clients-icon {
fill: var(--icon-cl);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
fill: var(--accent-cl);
}
.clients-link:hover,
.clients-link:focus {
border: 1px solid var(--accent-cl);
}
.bottom {
background-color: var(--secondary-bg); 
padding-top: 60px;
padding-bottom: 60px;
}
.end-container {
width: 1200px;
padding: 0 15px;
margin: 0 auto;
display: flex;
align-items: baseline;
}
.footer-container {
display: flex;
flex-direction: column;
width: 231px;
margin-right: 70px;
}
.logo-footer {
margin-bottom: 20px;
}
.footer-list>.footer-item {
margin-bottom: 12px;
}
.footer-item:last-child {
margin-bottom: 0px;
}
.footer-item {
width: 231px;
}
.txt-white {
color: var(--complementary-text-cl);
}
.list .link-footer {
color: var(--complementary-text-cl);
font-family: inherit;
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
text-decoration: none;
}
.link-footer:hover,
.link-footer:focus {
color: var(--accent-cl);
}
.list .link-contacts {
color: rgba(255, 255, 255, 0.60);
}
.link-contacts:hover,
.link-contacts:focus {
color: var(--accent-cl);
}
.footer-box {
display: inline-block;
width: 206px;
height: 80px;
margin-left: 0;
}
.footer-social-list {
display: flex;
justify-content: center;
align-items: center; 
}
.footer-text {
font-family: inherit;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
color: var(--complementary-text-cl);
margin-bottom: 20px;
}
.footer-social-item:not(:last-child) {
margin-right: 10px;
}
.footer-social-link {
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
background-color: rgba(255, 255, 255, 0.10);
border-radius: 50%;
}
.footer-social-icon {
fill: var(--main-bg);
}
.footer-social-link:hover,
.footer-social-link:focus {
background-color: var(--accent-cl);
}
.portfolio {
padding-top: 94px;
padding-bottom: 94px;
}
.portfolio .list-button {
display: flex;
align-items: center;
justify-content: center;
}
.portfolio .item {
margin-right: 8px;
}
.portfolio .item:last-child {
margin-right: 0;
}
.list-button {
margin-bottom: 50px;
}
.btn {
padding: 6px 22px;
border: none;
border-radius: 4px;
color: var(--secondary-text-cl);
background-color: var(--accent-bg);
text-align: center; 
font-family: inherit;
font-size: 16px;
font-style: normal; 
font-weight: 500;
line-height: 1.63; /* 162.5% */
letter-spacing: 0.48px;
border: none;
cursor: pointer;
}
.btn-current {
color: var(--complementary-text-cl);
background-color: var(--button-bg);
border: none;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
cursor: pointer;
}
.btn:hover,
.btn:focus {
color: var(--complementary-text-cl);
background-color: var(--button-bg);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.list-portfolio {
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
gap: 30px;
}
.link-portfolio {
display: block;
font-family: inherit;
font-style: normal;
text-decoration: none;
}
.title-portfolio {
margin-bottom: 4px;
color: var(--secondary-text-cl);
font-size: 18px;
font-weight: 700;
line-height: 2.00; /* 200% */
letter-spacing: 1.08px;
}
.text-portfolio {
color: var(--main-text-cl);
font-size: 16px;
line-height: 1.88; /* 187.5% */
letter-spacing: 0.48px;
}
.box-portfolio {
padding-top: 20px;
padding-left: 24px;
padding-bottom: 20px;
padding-right: 24px;
border-right: 1px solid #EEE;
border-bottom: 1px solid #EEE;
border-left: 1px solid #EEE;
}
.link-portfolio:hover,
.link-portfolio:focus {
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}